div{
	display: block;
}
body{
	margin: 0px;
}
#head{
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	padding-right: 70px;
	padding-left: 70px;
	display: inline;
	z-index: 10;
	font-family: sans-serif;
	font-size: 40px;
	background-color: #b3b3b3;
}
#head a{
	color: black;
}
.right: {
	float: right !important;
	z-index: 10;	
}
#status{
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;

}
#berita{
	margin-top:  	0px;
	padding:40px;
	width: auto;
	height: auto;
	font-size: 20px;
}
.center{
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}
img.front{
	width: 200px;
	height: 200px;
}
#berita section{
	display: inline-block;
	width: auto;
	margin-left: 100px;
	font-size: 30px;	
}
#berita section:hover{
	background-color: #6fcee9;
}

#feedback nav ul li{
	display: list-item;
	font-size: 20px;
	list-style: none;
}
a{
	text-decoration: none; 
}
#berita h1{
	text-transform: capitalize;
}
#berita ul li{
	list-style:none;
	display: inherit;
	margin-right: 50px;
	text-align: center;
}
#berita nav ul li{
	list-style: none;
	display: inline;
	margin-right: 30px;
	text-align: left;
}
a:hover{
	text-decoration:underline;;

}